html {
    font-family: helvetica,Arial,sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #181a1b;
    color: #ffffff;
}

.container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#game-div {
    width: 100%;
    max-width: 30em;
    border-radius: 1em;
    padding: 2em 0px;
    background-color: #000000;
}

ul li {
    list-style:upper-alpha;
    padding: 0 1em;
    margin-bottom: 1em;
    margin-left: 0;
    width: 87%;
}

.rules-div, .question-div, .controls-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
    margin: 0.5em auto;
}

#score-div {
    width: 90%;
    text-align: center;
    border: 1px solid green;
    padding: 0.125em;
    margin: 0.5em auto;
}

.btn {
    color: white;
    background-color: green;
    padding: .5em;
    text-decoration: none;
    width: 50%;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    margin-top: 0;
    font-weight: 700;
    border-radius: 0.5em;
    overflow: visible;
    margin: 0;
}

#btn-restart {
    padding: 0;
}

button:hover, li:hover {
    cursor: pointer;
}
